@import "tailwindcss";

/* Theme tokens */
@theme {
  --color-brand-primary: #057855;
  --color-brand-secondary: #c3a670;
  --color-brand-butter: #f4ede1;
  --color-brand-light: #f9f5f1;
  --color-brand-softGreen: #f0f5f1;
}

/* Font utilities */
@layer base {
  :root {
    --font-body: var(--font-body);
    --font-heading: var(--font-heading);
  }

  body {
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}

/* Hide horizontal scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.library-ans-criticism {
  /* Group */
  position: absolute;
  height: 21.65px;
  left: 0%;
  right: 0%;
  top: calc(50% - 21.65px / 2 - 0px);
}

.quran-section {
  width: 1008;
  height: 20;
  opacity: 1;
  gap: 10px;
}

.quran-section-vectors {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -2%;
}

.quran-section-vector-image {
  width: 16.67px;
  height: 15.89px;
  opacity: 1;
  top: 1.67px;
  left: 1.67px;
  border-width: 1.67px;
}
